@using SqlComparer.Model
@using SqlComparer.Web.ViewModels
@model IDictionary<ObjectIdentifier, IList<ComparisonResultViewModel>>


    @foreach (var element in Model)
    {

        var bgclass =
            element.Value.Any(x => x.ComparisonResult.Outcome == ComparisonOutcome.Different) ? "custlabel label-diff" :
                element.Value.Any(x => x.ComparisonResult.Outcome == ComparisonOutcome.Missing) ? "custlabel label-miss" : "custlabel label-equal";

        var isDifferent = element.Value.Any(x => x.ComparisonResult.Outcome == ComparisonOutcome.Different || x.ComparisonResult.Outcome == ComparisonOutcome.Missing);

        if (isDifferent)
        {
            var uniqueId = Guid.NewGuid().ToString("N");
            <div style="display: inline-flex; margin:0px">
                <span class="label @bgclass listEntry pad10" data-target="@uniqueId">
                    @element.Key.Name
                </span>
            </div>
            <div id="@uniqueId" style="display: none;">
                @{
                    Html.RenderPartial("Comparisons/_GridComparison", element);
                }
            </div>
                    }
                    else
                    {
                      <div style="display: inline-flex;  margin: 0px">
                            <span class="label @bgclass pad10">
                                @element.Key.Name
                            </span>
                          </div>
                    
                            }
                        }
                       